.fotodefondo{
    background-image: url(../images/fondo3.jpg);
    background-repeat: cover;
    background-position: 20%;
    background-attachment: fixed;
    z-index: -1;
    height: 100%s;
    min-width: min(640px-100vw);
}

/*Encabezado, tamaños y posicionamiento*/
.header{
    position: sticky;

    padding: 2rem;
    background-color: rgb(226, 226, 226);
    display: grid;
    grid-template-columns: repeat(5,auto);
    justify-content: center;
    grid-gap: 100px;
    z-index: 1;
}
.header > div{
    position: relative;
    top: 45%;
    left: 100px;
    font-family: monospace;
    color: rgb(57, 36, 173);
    text-align: center;
    font-size: 150%;
    height: 40px;
}
.header>img{
    position: relative;
    width: 60px;
    height: 70px;
    left: -400%;
    top:20%;
}
/*Encabezado, tamaños y posicionamiento*/

/*______________________________________________________*/

/*Animacion de navBar*/
.header>div:hover{
    font-weight: 600;
    transform: scale(1.6,1.2);
    border-bottom: 10%;
}

a:link{
    color: rgb(57, 36, 173);
    text-decoration-line: underline;
    text-decoration-color: rgba(127, 221, 205, 0);
}

a:visited{
    color: rgb(9, 1, 53);
    text-decoration-line: underline;
    text-decoration-color: rgba(127, 221, 205, 0);
}
a:active{
    color: rgb(57, 36, 173);
    text-decoration-line: underline;
    text-decoration-color: rgba(127, 221, 205, 0);
}
/*Animacion de navBar*/
/*______________________________________________________*/

/*Secciones*/
/*Seccion: Inicio (quienes somos)*/
.ini{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 3rem;
    padding: 2rem;
    background-color: rgba(255, 255, 255, 0.589);
    border-radius: 15px;
}
.textini{
    font-family: monospace;
    color: rgb(27, 105, 84);
    font-size: 40px;
    margin-top:1%;
    margin-left:1%;
    text-shadow: 2px 2px rgba(46, 46, 46, 0.322);
}
b{
    color: rgb(27, 105, 84);
}
.descripcion{
    font-family: monospace;
    font-size: 30px;
    margin-top: -1%;
    margin-left: 1%;
    width: 45%;
}
.item1>ul{
    font-family: sans-serif;
    font-size: 28px;
    margin-left: 10%;
    list-style-image: url(../images/icon.png);
}

.item2>img{
    width: 200%;
    height: 85%;
    margin-top: 8%;
    margin-left: -135%;
    border-radius: 25px;
}
/*Fin Seccion inicio*/

/*______________________________________________________*/

/*Seccion: Recorridos*/
.reco{
    position: relative;
    top: 100px;
    border-radius: 25px;
    background-color: white;
    width: 60vw;
    height: 100px;
    margin-left: 20%;
}
.texreco{
    font-family: monospace;
    color: rgb(27, 105, 84);
    font-size: 40px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* ---------- */
.reco-cajas{
    position: relative;
    display: flex;
    justify-content: space-between;
    top: 100px;
    margin-left: 20%;
    width: 60vw;
}

.reco-caja {
    border-radius: 25px;
    background-color: white;
}

.reco-caja > img {
    position: unset;
    width: 100%;
    height: 400px;
}

.caja-1 > img {
    content: url(/images/Recorridos/r1a.png);
}

.caja-1:hover > img {
    content: url(/images/Recorridos/r1b.png);
}

.caja-2 > img {
    content: url(/images/Recorridos/r2a.png);
}

.caja-2:hover > img {
    content: url(/images/Recorridos/r2b.png);
}

.caja-3 > img {
    content: url(/images/Recorridos/r3a.png);
}

.caja-3:hover > img {
    content: url(/images/Recorridos/r3b.png);
}

/* ---------- */

/*______________________________________________________*/

.reseña{
    position: relative;
    top: 100px;
    border-radius: 25px;
    background-color: white;
    width: 60vw;
    height: 100px;
    text-align: center;
    margin-left: 20%;
}
.textrese{
    top: 30%;
    font-family: monospace;
    color: rgb(27, 105, 84);
    font-size: 40px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.conta{
    position: relative;
    top: 100px;
    border-radius: 25px;
    background-color: white;
    width: 60vw;
    height: 100px;
    text-align: center;
    margin-left: 20%;
}
.texcon{
    font-family: monospace;
    color: rgb(27, 105, 84);
    font-size: 40px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.formu{
    display: flex;
    flex-direction: column;
    color: rgb(27, 105, 84);
    background-color: white;
    margin: 9rem;
    padding: 2rem;
    gap: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1,5rem;
    border-radius: 25px;
    border: rgb(27, 105, 84) solid 2px;
}
input[type=text]{
    width: 40vw;
    padding: 12px 20px;
    margin: 8px 0;
    border: none;
    border-bottom: 2px solid rgb(27, 105, 84);
    font-size: 30px;
}
input[type=number]{
    width: 38vw;
    padding: 12px 20px;
    margin: 8px 0;
    border: none;
    border-bottom: 2px solid rgb(27, 105, 84);
    font-size: 30px;
    text-align: center;
}
textarea{
    width: 40vw;
    padding: 12px 20px;
    margin: -4px 0px 4px 20px;
    font-family: monospace;
    font-size: 20px;
}
input[type=submit],[type=reset]{
    width: 20vw;
    height: 8vh;
    margin: -4px 0px 4px 20px;
    font-size: 20px;
    color: rgb(27, 105, 84);
}