body{
    background-color: rgb(208, 218, 226);
}

/* ____________________________________________Slideshow container___________________________ */

/*Importanción de fuente*/

@import url('https://fonts.googleapis.com/css2?family=Junge&display=swap');
.reseña{
    font-family: 'Junge', sans-serif;
    position: relative;
    max-width: 900px;
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    padding: 50px 0;
    background-color: #fff;
}
.reseña .slider{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 15px;

}

.slider p{
    text-align: center;
    font-weight: 450;
    color: #333;
    padding: 0 150px;

}

.slider .quote-icon{
    font-size: 25px;
    color: #333;
}
.slider .details{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.details .name{
        font-size: 15px;
        font-weight: 550;
        color: #171717;
}
.details .location{
    font-size: 12px;
    font-weight: 600;
    color: #6a6a6a;
}
.details .stars{
    font-size: 13px;
    font-weight: 600;
}
.container{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(175, 182, 182, 0.882);
}
.reseña .image{
    height: 165px;
    width: 165px;
    object-fit: cover;
    border-radius: 50%;
}



/* ____________________________________________Slideshow container___________________________ */




/*Encabezado, tamaños y posicionamiento*/
.header{
    position: fixed;
    top:0;
    right: 0;
    width: 100vw;
    height: 15vh;
    background-color: rgb(255, 255, 255);
    display: grid;
    grid-template-columns: repeat(5,auto);
    justify-content: center;
    grid-gap: 100px;
    z-index: 20;
}

.header > div{
    position: relative;
    top: 45%;
    left: 100px;
    font-family: monospace;
    color: rgb(57, 36, 173);
    text-align: center;
    font-size: 150%;
    height: 40px;
}
.header>img{
    position: relative;
    width: 60px;
    height: 70px;
    left: -400%;
    top:20%;
}
/*Encabezado, tamaños y posicionamiento*/

/*______________________________________________________*/

/*Animacion de navBar*/
.header>div:hover{
    font-weight: 600;
    transform: scale(1.6,1.2);
    border-bottom: 10%;
}

a:link{
    color: rgb(57, 36, 173);
    text-decoration-line: underline;
    text-decoration-color: rgba(127, 221, 205, 0);
}

a:visited{
    color: rgb(9, 1, 53);
    text-decoration-line: underline;
    text-decoration-color: rgba(127, 221, 205, 0);
}
a:active{
    color: rgb(57, 36, 173);
    text-decoration-line: underline;
    text-decoration-color: rgba(127, 221, 205, 0);
}
/*Animacion de navBar*/
/*______________________________________________________*/

/*Secciones*/
/*Seccion: Inicio (quienes somos)*/

/*Con este pedacito de codigo, la navbar funciona correctamente*/
#qsomos{
    padding-top: 100px;
    margin-top: -100px;
    -webkit-background-clip: content-box;
    background-clip: content-box;
}
/*Con este pedacito de codigo, la navbar funciona correctamente*/
.ini{
    margin-top: 7%;
    margin-left: 1%;
    width: 97vw;
    height: 90vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-radius: 25px;
    border: 1px solid rgb(27, 105, 84);
    background-color: rgb(219, 200, 170);
}
.textini{
    padding-top: 10px;
    font-family: monospace;
    color: rgb(27, 105, 84);
    font-size: 40px;
    margin-top:1%;
    margin-left:1%;
    text-shadow: 2px 2px rgba(46, 46, 46, 0.322);
}
b{
    color: rgb(27, 105, 84);
}
.descripcion{
    font-family: monospace;
    font-size: 25px;
    margin-top: -1%;
    margin-left: 1%;
    width: 45%;
}
.item1>ul{
    font-family: sans-serif;
    font-size: 28px;
    margin-left: 10%;
    list-style-image: url(/TPO/cac/images/icon.png);
}

.item2>img{
    width: 200%;
    height: 85%;
    margin-top: 15%;
    margin-left: -125%;
    border-radius: 25px;
}
/*Fin Seccion inicio*/

/*______________________________________________________*/

/*Seccion: Recorridos*/
.reco{
    position: relative;
    top: 100px;
    border-radius: 25px;
    background-color: rgb(252, 252, 252);
    width: 80vw;
    height: 100px;
    margin-left: 10%;
}
.texreco{
    font-family: monospace;
    color: rgb(27, 105, 84);
    font-size: 40px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* ---------- */
.reco-cajas{
    position: relative;
    display: flex;
    justify-content: space-between;
    top: 100px;
    margin-left: 10%;
    width: 80vw;
    height: auto;
    gap: 70px;
}

.reco-caja {
    border-radius: 25px;
    background-color: white;
}

.reco-caja > img {
    position: unset;
    width: 100%;
    height: 400px;
}

.reco-caja > h2 {
    margin-left: 20px;
}

.reco-caja > p {
    margin-left: 20px;
}

.caja-1 > img {
    content: url(/images/Recorridos/r1a.jpg);
}

.caja-1:hover > img {
    content: url(/images/Recorridos/r1b.jpg);
}

.caja-2 > img {
    content: url(/images/Recorridos/r2a.jpg);
}

.caja-2:hover > img {
    content: url(/images/Recorridos/r2b.jpg);
}

.caja-3 > img {
    content: url(/images/Recorridos/r3a.jpg);
}

.caja-3:hover > img {
    content: url(/images/Recorridos/r3b.jpg);
}

/* ---------- */

/*______________________________________________________*/

.textrese{
    top: 30%;
    font-family: monospace;
    color: rgb(27, 105, 84);
    font-size: 40px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
form{
    border-radius: 10px;
    border: solid rgb(27, 105, 84) 2px;
    background-repeat: no-repeat;
    width: 97vw;
    position: relative;
    left: 20px;
    bottom: 20px;
}