body{
    background-color: rgb(208, 218, 226);
}
/*_______________________ Nav__________________ */

.header{
    position: sticky;
    top:0;
    width: 100vw;
    height: 15vh;
    background-color: rgb(255, 255, 255);
    display: grid;
    grid-template-columns: repeat(5,auto);
    justify-content: center;
    align-items: center;
    grid-gap: 5%;
    z-index: 2;
}

.ancla{
    font-family: monospace;
    color: rgb(57, 36, 173);
    font-size: 150%;
}
#logo{
    width: 5rem;
    height: 5rem;
}
/*_________________Animacion de navBar_______________*/
.ancla:hover{
    font-weight: 600;
    transform: scale(1.1,1.2);
    border-bottom: 10%;
}

.ancla:link{
    color: rgb(9, 1, 53);
    text-decoration-line: underline;
    text-decoration-color: rgba(127, 221, 205, 0);
}

.ancla:visited{
    color: rgb(9, 1, 53);
    text-decoration-line: underline;
    text-decoration-color: rgba(127, 221, 205, 0);
}
.ancla:active{
    color: rgb(9, 1, 53);
    text-decoration-line: underline;
    text-decoration-color: rgba(127, 221, 205, 0);
}


/*______________________ Menu hamburguesa ____________________________*/

/* El display none para ocultarlo de pantallas que no son mobiles */
.mobinav{
    display: none;
}

/*______________________ Diseño botón flotante ____________________________*/

#myBtn {
    display: none; 
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; 
    right: 30px; 
    z-index: 2; /* Permite sobrepasar el flujo de pantalla */
    border: none; 
    outline: none; 
    background-color: rgb(187, 187, 187); 
    color: rgb(0, 0, 0);
    cursor: pointer; 
    padding: 15px;
    border-radius: 10px; 
    font-size: 18px; 
}

#myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
    color: aqua;
}

/*______________________ Diseño de Imagen Header ____________________________*/

header>img{
    width:100vw;
    max-height: min(90vh, 1400px);
}

/* Utilizamos este bloque de codigo para evitar que el nav sticky cubra parte del contenido a mostrar*/
#titulo,
#qsomos,
#recorridos,
#reseñas,
#contacto{
    padding-top: 70px;
    margin-top: -70px;
    -webkit-background-clip: content-box;
    background-clip: content-box;
}
/*______________________ Diseño sección ¿quienes somos? ____________________________*/

.ini{   /*Caja de menu quienes somos*/
    margin: 1.5rem auto;
    margin-top:4rem ;
    max-width: min(1480px, 90vw);
    padding: 4rem;
    display: flex;
    flex-direction: row;
    gap: 3rem;
    border-radius: 25px;
    border: 1px solid rgb(27, 105, 84);
    background-color: rgb(252, 252, 252);
}
.textini{
    padding-top: .5rem;
    margin-top: -4%;
    font-family: monospace;
    color: rgb(27, 105, 84);
    font-size: 2.5rem;
    margin-bottom: 1rem;
    text-shadow: 2px 2px rgba(46, 46, 46, 0.322);
}
b{
    color: rgb(27, 105, 84);
}
.descripcion{
    font-family: monospace;
    font-size: 1.25rem;
    margin-top: -1%;
    margin-left: 2%;
    margin-right: -30%;
}
.item1>ul{
    font-family: sans-serif;
    font-size: 1rem;
    letter-spacing: 5px;
    margin-left: 0%;
    margin-top: 0%;
    list-style-image: url(../images/icon.png);
}

.item1 li{
    margin-bottom: 1%;
}
.item2{
    width:424%;
    height: 98%;
    margin-left: 1rem;
    margin-right: 1rem;
}
.item2>iframe{
    width: 38rem;
    height: 19rem;
    margin-top: .75rem;
    margin-left: 16%;
    border-radius: 25px;
}

/*___________________ Diseño sección Recorridos_____________________________*/


#recorridos {
    padding-top: 100px;
    margin-top: -100px;
    -webkit-background-clip: content-box;
    background-clip: content-box;
}

.recorridos-ini {
    margin: 1.5rem auto;
    max-width: min(1480px, 90vw);
    padding: 3rem;
    border-radius: 25px;
    border: 1px solid rgb(27, 105, 84);
    background-color: rgb(252, 252, 252);
}

.reco{
    position: relative;
    margin-bottom: 1rem;
    border-radius: 25px;
    background-color: rgb(252, 252, 252);
    height: 100px;
}
.texreco{
    font-family: monospace;
    color: rgb(27, 105, 84);
    font-size: 2.5rem;
    margin-bottom: 1rem;
    text-shadow: 2px 2px rgba(46, 46, 46, 0.322);
    margin: 0;
}

/* ---------- */
.reco-cajas{
    display: flex;
    justify-content: space-between;
    gap: 70px;
}

.reco-caja {
    border-radius: 25px;
    background-color: rgb(255, 255, 255);
}

.reco-caja > img {
    position: unset;
    width: 90%;
    height: 80%;
    border-radius: 25px;
}

.reco-caja > h2 {
    padding: 1.5rem;
    font-size: x-large;
}

.reco-caja > p {
    margin-left: 20px;
}

.caja-1 > img {
    content: url(../images/Recorridos/r1a.jpg);
}

.caja-1:hover > img {
    content: url(../images/Recorridos/r1b.jpg);
}

.caja-2 > img {
    content: url(../images/Recorridos/r2a.jpg);
}

.caja-2:hover > img {
    content: url(../images/Recorridos/r2b.jpg);
}

.caja-3 > img {
    content: url(../images/Recorridos/r3a.jpg);
}

.caja-3:hover > img {
    content: url(../images/Recorridos/r3b.jpg);
}

/* ____________________________ Diseño slider de reseñas ___________________________ */

.container{
    max-width: min(1480px, 90vw);
    background-color: #8d92a07a;
    padding:2rem 3rem;
    margin: 2.5rem auto;
    margin-top: 3.5rem;
    border-radius: 25px;
    border: 1px solid rgb(27, 105, 84);
}

.testimonial-slider {
    display: flex;
    max-width: min(85vw, 1500px);
    max-height: min(70vh,1400px);
    background-color: #f5f5f5;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    border-radius: 1rem;
}

.testimonial {
    max-width: min(85vw, 1500px);
    padding: 50px;
    background: #fff;
    text-align: center;
    display: none;
}

.perf {
    width:150px;
    height: 150px;
    border-radius: 50%;
    margin: 0 auto 10px;
    display: block;
}
.perf:hover{
    transform: scale(1.1,1.14);
}
.testimonial p {
    font-size: 1rem;
    padding: 1rem;
    margin: 0;
}

.author {
    margin-top: 10px;
    font-style: italic;
    color: #333;
}
.author>span{
    font-weight: bold;
}


.slider-btn {
    background: #d7d9dc6d;
    color: #fff;
    border: none;
    padding: 0px 15px;
    cursor: pointer;

}

.slider-btn:hover {
    background: #bebebec0;
}


/* ______________________ Diseño form________________________________ */

.contact{
    max-width: min(1480px, 90vw);
    margin: 3rem auto !important;
    border-radius: 25px;
    border: 1px solid rgb(27, 105, 84);
    padding: 2.5rem;
}
.contact>h2{
    font-family: monospace;
    color: rgb(27, 105, 84);
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
    text-shadow: 2px 2px rgba(46, 46, 46, 0.322);
    margin: 0;
}
label{
    color:#333 !important;
}
/* footer */
.footer{
    display: flex;
    width: 100vw;
    flex-direction: column;
    align-items: center;
    background-color:#fff;
}
.social{
    display:flex;
    justify-content: center;
    gap: .5rem;
    padding: 1rem;
}
.social a{
    position:relative;
    width: 4rem;
    height: 4rem;
    background-color: #ccc;
    border-radius: .5rem;
    background-position: center;
    background-size: 2.5rem;
    background-repeat: no-repeat;
}
.social a:hover{
    bottom:.3rem;
    background-color: #eee;
    background-size: 3.5rem;
    box-shadow: 0 .2rem .5rem #333;
}
/* iconos redes sociales */
.linkedin{
    background-image: url("../images/social/linkedin.svg");

}
.github{
    background-image: url("../images/social/github.svg");
}
.telegram{
    background-image: url("../images/social/telegram.svg");
}



/* Otras pantallas */


@media (max-width:1060px) {
    /* Slider */
    .container{
        max-width: 85vw;
        padding: 2.5rem 3.75rem;
        border: .15rem;
        border-radius: 0.25rem;
        border-style:double;
        border-color: #ccc;
        border-radius: 0.25rem;
    }
    
    .testimonial-slider {
        max-width: 85vw;
        max-height: 85vh;
        border-radius: 1rem;
    }
    
    .testimonial {
        max-width: min(85vw);
        padding: 50px 40px;
    }
    
    .perf {
        width:135px;
        height: 135px;
    }
    .testimonial p {
        font-size: .9rem;
        padding: .75rem;
    }    
    
    .slider-btn {
        padding: 0px 12px;
    }
    /* fin slider */
}


@media (max-width:768px) {
    /* slider */
    .container{
        max-width: 90vw;
        padding:1.5rem 2rem;
        border: .15rem;
        border-style:double;
        border-color: #ccc;
        border-radius: 0.25rem;
    }
    
    .testimonial-slider {
        max-width: 90vw;
        max-height: 90vh;
        border-radius: 1rem;
    }
    
    .testimonial {
        max-width: min(90vw);
        padding: 50px 20px;
    }
    
    .perf {
        width:120px;
        height: 120px;
        border-radius: 50%;
        margin: 0 auto 10px;
        display: block;
    }
    .testimonial p {
        font-size: .90rem;
        padding: .30rem;
    }    
    
    .slider-btn {
        padding: 0px 10px;
    }
     /*fin slider  */
}


@media (max-width:480px) {
    /* slider */
    .container{
        max-width: 95vw;
        padding:1rem 1rem;
        border: .15rem;
        border-radius: 0.25rem;
    }
    
    .testimonial-slider {
        max-width: 95vw;
        max-height: 95vh;
        border-radius: 1rem;
    }
    
    .testimonial {
        max-width: min(95vw);
        padding: 50px 20px;
        background: #fff;
    }
    
    .perf {
        width:90px;
        height: 90px;
        border-radius: 50%;
        margin: 0 auto 10px;
    }
    .testimonial p {
        font-size: .75rem;
        padding: .25rem;
    }    
    
    .slider-btn {
        padding: 0px 5px;
    }
    /* fin slider */
    .header{
        display: none;
    }
    /*Menu hamburguesa*/
    .mobinav{
        display: block;
    }
    ul{
        display: none;
    }
    
    .mobi:checked  ~ ul{
    display:block;
    }
    .mobi {
    display: none;
    }  
    
    li {
    display: block;
    background: lightgrey;
    margin: 0;
    padding: 10px;
    list-style: none;
    border-bottom: 1px solid rgb(208, 218, 226);
    }
    /*Menu hamburguesa*/
    .ini{
        width: 100%;
    }
    .textini{
        margin-top: -18%;
        text-align: center;
        font-size: 150%;
        text-shadow: 1px 1px rgba(46, 46, 46, 0.322);
    }
    .descripcion{
        font-size: 104%;
        margin-right: -17%;
    }
    .ini{
        display: flexbox;
        flex-direction: column;
        height: 40%;
    }
    .item1 ul{
        margin-top: 9%;
        margin-bottom: -2%;
        margin-left: -3%;
        font-size: 120%;
    }
    .item2>img{
        max-width: 107%;
        height: 150%;
        border-radius: 25px;
        margin-top: -10%;
        margin-bottom: -5%;
    }
    .reco-cajas{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: auto;
        gap: 10%;
    }
    .texreco{
        font-size: 2rem;
        margin-top: 4%;
        margin-bottom: 5rem;
        text-shadow: 1px 1px rgba(46, 46, 46, 0.973);
    }
    .reco{
        margin-bottom: 4rem;
        background-color: rgb(252, 252, 252);
        height: 1%;
    }
    .reco-caja > img {
        position: unset;
        width: 100%;
        height: 80%;
    }
    .reco-cajas div{
        margin-top: 1%;
        margin-bottom:25%;
    }
    
}