body{
    background-color: rgb(208, 218, 226);
}
/* Header */
#titulo>img{
    width:100vw;
    max-height: min(90vh, 1400px);
}
/* ____________________________________________Slideshow container___________________________ */

.container{
    max-width: min(80vw, 1500px);
    background-color: #8d92a0;
    padding:4rem 5rem;
    margin: 0 auto;
    border: .20rem;
    border-style: dashed;
    border-color: #ccc;
    border-radius: 0.25rem;
}

.testimonial-slider {
    display: flex;
    max-width: min(70vw, 1500px);
    max-height: min(70vh,1400px);
    background-color: #f5f5f5;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    border-radius: 1rem;
}

.testimonial {
    max-width: min(70vw, 1500px);
    padding: 50px;
    background: #fff;
    text-align: center;
    display: none;
}

.perf {
    width:150px;
    height: 150px;
    border-radius: 50%;
    margin: 0 auto 10px;
    display: block;
}
.perf:hover{
    transform: scale(1.1,1.14);
}
.testimonial p {
    font-size: 1rem;
    padding: 1rem;
    margin: 0;
}

.author {
    margin-top: 10px;
    font-style: italic;
    color: #333;
}
.author>span{
    font-weight: bold;
}


.slider-btn {
    background: #d7d9dc6d;
    color: #fff;
    border: none;
    padding: 0px 15px;
    cursor: pointer;

}

.slider-btn:hover {
    background: #bebebec0;
}


/* ____________________________________________Slideshow container___________________________ */

#titulo{
    padding-top: 100px;
    margin-top: -100px;
    -webkit-background-clip: content-box;
    background-clip: content-box;
}

header>h1{
    margin: 5% 10% 5% 15%;
    width: 70vw;
    height: 50vh;
    background-color: blueviolet;
    border: black solid 1px;
    color: #fff;
    text-align: center;
    padding-top: 7%;
}


/*Encabezado, tamaños y posicionamiento*/
.header{
    position: sticky;
    top:0;
    right: 0;
    max-width: 100vw;
    height: 15vh;
    background-color: rgb(255, 255, 255);
    display: grid;
    grid-template-columns: repeat(6,auto);
    justify-content: center;
    grid-gap: 100px;
    z-index: 2;
}

.header > div{
    position: relative;
    top: 45%;
    left: 100px;
    font-family: monospace;
    color: rgb(57, 36, 173);
    text-align: center;
    font-size: 150%;
    height: 40px;
}
.header>img{
    position: relative;
    width: 60px;
    height: 70px;
    left: -400%;
    top:20%;
}
/*Encabezado, tamaños y posicionamiento*/

/*______________________________________________________*/

/*Animacion de navBar*/
.header>div:hover{
    font-weight: 300;
    transform: scale(1.1,1.2);
    border-bottom: 10%;
}

a:link{
    color: rgb(9, 1, 53);
    text-decoration-line: underline;
    text-decoration-color: rgba(127, 221, 205, 0);
}

a:visited{
    color: rgb(9, 1, 53);
    text-decoration-line: underline;
    text-decoration-color: rgba(127, 221, 205, 0);
}
a:active{
    color: rgb(9, 1, 53);
    text-decoration-line: underline;
    text-decoration-color: rgba(127, 221, 205, 0);
}
/*Animacion de navBar*/
/*______________________________________________________*/

/*Secciones*/
/*Seccion: Inicio (quienes somos)*/

/*Con este pedacito de codigo, la navbar funciona correctamente*/
#qsomos{
    padding-top: 100px;
    margin-top: -100px;
    -webkit-background-clip: content-box;
    background-clip: content-box;
}
/*Con este pedacito de codigo, la navbar funciona correctamente*/
.ini{
    margin: 1.5rem auto;
    max-width: min(1480px, 80vw);
    padding: 3rem;
    display: flex;
    flex-direction: row;
    gap: 3rem;
    border-radius: 25px;
    border: 1px solid rgb(27, 105, 84);
    background-color: rgb(219, 200, 170);
}
.textini{
    padding-top: 2rem;
    font-family: monospace;
    color: rgb(27, 105, 84);
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
    text-shadow: 2px 2px rgba(46, 46, 46, 0.322);
}
b{
    color: rgb(27, 105, 84);
}
.descripcion{
    font-family: monospace;
    font-size: 1.25rem;
    margin-top: -1%;
    margin-left: 1%;
}
.item1>ul{
    font-family: sans-serif;
    font-size: 1.25rem;
    margin-left: 10%;
    list-style-image: url(../images/icon.png);
}

.item2>img{
    width:500px;
    margin-top: 3rem;
    border-radius: 25px;
}
/*Fin Seccion inicio*/

/*______________________________________________________*/

/*Seccion: Recorridos*/

#recorridos {
    margin: 1.5rem auto;
    max-width: min(1480px, 80vw);
    padding: 3rem;
    border-radius: 25px;
    border: 1px solid rgb(27, 105, 84);
    background-color: rgb(252, 252, 252);
}

.reco{
    position: relative;
    margin-bottom: 2rem;
    border-radius: 25px;
    background-color: rgb(252, 252, 252);
    height: 100px;
}
.texreco{
    font-family: monospace;
    color: rgb(27, 105, 84);
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
    text-shadow: 2px 2px rgba(46, 46, 46, 0.322);
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* ---------- */
.reco-cajas{
    display: flex;
    justify-content: space-between;
    top: 100px;
    height: auto;
    gap: 70px;
}

.reco-caja {
    border-radius: 25px;
    background-color: white;
}

.reco-caja > img {
    position: unset;
    width: 100%;
    height: 400px;
}

.reco-caja > h2 {
    margin-left: 20px;
}

.reco-caja > p {
    margin-left: 20px;
}

.caja-1 > img {
    content: url(/images/Recorridos/r1a.jpg);
}

.caja-1:hover > img {
    content: url(/images/Recorridos/r1b.jpg);
}

.caja-2 > img {
    content: url(/images/Recorridos/r2a.jpg);
}

.caja-2:hover > img {
    content: url(/images/Recorridos/r2b.jpg);
}

.caja-3 > img {
    content: url(/images/Recorridos/r3a.jpg);
}

.caja-3:hover > img {
    content: url(/images/Recorridos/r3b.jpg);
}

/* ---------- */

/*______________________________________________________*/

#contacto{
    padding-top: 100px;
    margin-top: -100px;
    -webkit-background-clip: content-box;
    background-clip: content-box;
}

/* footer */
.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:#fff;
}
.social{
    display:flex;
    justify-content: center;
    gap: .5rem;
    padding: 1rem;
}
.social a{
    position:relative;
    width: 4rem;
    height: 4rem;
    background-color: #ccc;
    border-radius: .5rem;
    background-position: center;
    background-size: 2.5rem;
    background-repeat: no-repeat;
}
.social a:hover{
    bottom:.3rem;
    background-color: #eee;
    background-size: 3.5rem;
    box-shadow: 0 .2rem .5rem #333;
}
/* iconos redes sociales */
.linkedin{
    background-image: url("../images/social/linkedin.svg");

}
.github{
    background-image: url("../images/social/github.svg");
}
.telegram{
    background-image: url("../images/social/telegram.svg");
}
/* Otras pantallas */

/* Pantallas pequeñas */
@media (max-width:1060px) {
    /* Slider */
    .container{
        max-width: 85vw;
        padding: 2.5rem 3.75rem;
        border: .15rem;
        border-radius: 0.25rem;
        border-style:double;
        border-color: #ccc;
        border-radius: 0.25rem;
    }
    
    .testimonial-slider {
        max-width: 85vw;
        max-height: 85vh;
        border-radius: 1rem;
    }
    
    .testimonial {
        max-width: min(85vw);
        padding: 50px 40px;
    }
    
    .perf {
        width:135px;
        height: 135px;
    }
    .testimonial p {
        font-size: .9rem;
        padding: .75rem;
    }    
    
    .slider-btn {
        padding: 0px 12px;
    }
    /* fin slider */
}
@media (max-width:768px) {
    /* slider */
    .container{
        max-width: 90vw;
        padding:1.5rem 2rem;
        border: .15rem;
        border-style:double;
        border-color: #ccc;
        border-radius: 0.25rem;
    }
    
    .testimonial-slider {
        max-width: 90vw;
        max-height: 90vh;
        border-radius: 1rem;
    }
    
    .testimonial {
        max-width: min(90vw);
        padding: 50px 20px;
    }
    
    .perf {
        width:120px;
        height: 120px;
        border-radius: 50%;
        margin: 0 auto 10px;
        display: block;
    }
    .testimonial p {
        font-size: .90rem;
        padding: .30rem;
    }    
    
    .slider-btn {
        padding: 0px 10px;
    }
     /*fin slider  */
}
@media (max-width:480px) {
    /* slider */
    .container{
        max-width: 95vw;
        padding:1rem 1rem;
        border: .15rem;
        border-radius: 0.25rem;
    }
    
    .testimonial-slider {
        max-width: 95vw;
        max-height: 95vh;
        border-radius: 1rem;
    }
    
    .testimonial {
        max-width: min(95vw);
        padding: 50px 20px;
        background: #fff;
    }
    
    .perf {
        width:90px;
        height: 90px;
        border-radius: 50%;
        margin: 0 auto 10px;
    }
    .testimonial p {
        font-size: .75rem;
        padding: .25rem;
    }    
    
    .slider-btn {
        padding: 0px 5px;
    }
    /* fin slider */
}