body{
    background-color: rgb(208, 218, 226);
}

/* ____________________________________________Slideshow container___________________________ */

/*Importanción de fuente*/

@import url('https://fonts.googleapis.com/css2?family=Junge&display=swap');
.reseña{
    font-family: 'Junge', sans-serif;
    position: relative;
    max-width: 900px;
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    padding: 50px 0;
    background-color: #fff;
}
.reseña .slider{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 15px;

}

.slider p{
    text-align: center;
    font-weight: 450;
    color: #333;
    padding: 0 150px;

}

.slider .quote-icon{
    font-size: 25px;
    color: #333;
}
.slider .details{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.details .name{
        font-size: 15px;
        font-weight: 550;
        color: #171717;
}
.details .location{
    font-size: 12px;
    font-weight: 600;
    color: #6a6a6a;
}
.details .stars{
    font-size: 13px;
    font-weight: 600;
}
.container{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(175, 182, 182, 0.882);
}
.reseña .image{
    height: 165px;
    width: 165px;
    object-fit: cover;
    border-radius: 50%;
}



/* ____________________________________________Slideshow container___________________________ */

#titulo{
    padding-top: 100px;
    margin-top: -100px;
    -webkit-background-clip: content-box;
    background-clip: content-box;
}

header>h1{
    margin: 5% 10% 5% 15%;
    width: 70vw;
    height: 50vh;
    background-color: blueviolet;
    border: black solid 1px;
    color: #fff;
    text-align: center;
    padding-top: 7%;
}


/*Encabezado, tamaños y posicionamiento*/
.header{
    position: sticky;
    top:0;
    right: 0;
    max-width: 100vw;
    height: 15vh;
    background-color: rgb(255, 255, 255);
    display: grid;
    grid-template-columns: repeat(6,auto);
    justify-content: center;
    grid-gap: 100px;
    z-index: 2;
}

.header > div{
    position: relative;
    top: 45%;
    left: 100px;
    font-family: monospace;
    color: rgb(57, 36, 173);
    text-align: center;
    font-size: 150%;
    height: 40px;
}
.header>img{
    position: relative;
    width: 60px;
    height: 70px;
    left: -400%;
    top:20%;
}
/*Encabezado, tamaños y posicionamiento*/

/*______________________________________________________*/

/*Animacion de navBar*/
.header>div:hover{
    font-weight: 300;
    transform: scale(1.1,1.2);
    border-bottom: 10%;
}

a:link{
    color: rgb(9, 1, 53);
    text-decoration-line: underline;
    text-decoration-color: rgba(127, 221, 205, 0);
}

a:visited{
    color: rgb(9, 1, 53);
    text-decoration-line: underline;
    text-decoration-color: rgba(127, 221, 205, 0);
}
a:active{
    color: rgb(9, 1, 53);
    text-decoration-line: underline;
    text-decoration-color: rgba(127, 221, 205, 0);
}
/*Animacion de navBar*/
/*______________________________________________________*/

/*Secciones*/
/*Seccion: Inicio (quienes somos)*/

/*Con este pedacito de codigo, la navbar funciona correctamente*/
#qsomos{
    padding-top: 100px;
    margin-top: -100px;
    -webkit-background-clip: content-box;
    background-clip: content-box;
}
/*Con este pedacito de codigo, la navbar funciona correctamente*/
.ini{
    margin: 1.5rem auto;
    max-width: min(1480px, 97vw);
    padding: 3rem;
    display: flex;
    flex-direction: row;
    gap: 3rem;
    border-radius: 25px;
    border: 1px solid rgb(27, 105, 84);
    background-color: rgb(219, 200, 170);
}
.textini{
    padding-top: 2rem;
    font-family: monospace;
    color: rgb(27, 105, 84);
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
    text-shadow: 2px 2px rgba(46, 46, 46, 0.322);
}
b{
    color: rgb(27, 105, 84);
}
.descripcion{
    font-family: monospace;
    font-size: 1.25rem;
    margin-top: -1%;
    margin-left: 1%;
}
.item1>ul{
    font-family: sans-serif;
    font-size: 1.25rem;
    margin-left: 10%;
    list-style-image: url(../images/icon.png);
}

.item2>img{
    width:680px;
    margin-top: 2rem;
    border-radius: 25px;
}
/*Fin Seccion inicio*/

/*______________________________________________________*/

/*Seccion: Recorridos*/
.reco{
    position: relative;
    top: 100px;
    border-radius: 25px;
    background-color: rgb(252, 252, 252);
    width: 80vw;
    height: 100px;
    margin-left: 10%;
}
.texreco{
    font-family: monospace;
    color: rgb(27, 105, 84);
    font-size: 40px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* ---------- */
.reco-cajas{
    position: relative;
    display: flex;
    justify-content: space-between;
    top: 100px;
    margin-left: 10%;
    width: 80vw;
    height: auto;
    gap: 70px;
}

.reco-caja {
    border-radius: 25px;
    background-color: white;
}

.reco-caja > img {
    position: unset;
    width: 100%;
    height: 400px;
}

.reco-caja > h2 {
    margin-left: 20px;
}

.reco-caja > p {
    margin-left: 20px;
}

.caja-1 > img {
    content: url(/images/Recorridos/r1a.jpg);
}

.caja-1:hover > img {
    content: url(/images/Recorridos/r1b.jpg);
}

.caja-2 > img {
    content: url(/images/Recorridos/r2a.jpg);
}

.caja-2:hover > img {
    content: url(/images/Recorridos/r2b.jpg);
}

.caja-3 > img {
    content: url(/images/Recorridos/r3a.jpg);
}

.caja-3:hover > img {
    content: url(/images/Recorridos/r3b.jpg);
}

/* ---------- */

/*______________________________________________________*/

#contacto{
    padding-top: 100px;
    margin-top: -100px;
    -webkit-background-clip: content-box;
    background-clip: content-box;
}

/* footer */
.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:#fff;
}
.social{
    display:flex;
    justify-content: center;
    gap: .5rem;
    padding: 1rem;
}
.social a{
    position:relative;
    width: 4rem;
    height: 4rem;
    background-color: #ccc;
    border-radius: .5rem;
    background-position: center;
    background-size: 2.5rem;
    background-repeat: no-repeat;
}
.social a:hover{
    bottom:.3rem;
    background-color: #eee;
    background-size: 3.5rem;
    box-shadow: 0 .2rem .5rem #333;
}
/* iconos redes sociales */
.linkedin{
    background-image: url("../images/social/linkedin.svg");

}
.github{
    background-image: url("../images/social/github.svg");
}
.telegram{
    background-image: url("../images/social/telegram.svg");
}